@define-mixin btn $name,$color,$backgroundColor{
    .u-btn-$(name){
        border-radius: 3px; background-color: $backgroundColor; color: $color; font-size: .5rem; display: inline-block; cursor: pointer; vertical-align: middle; border: 0; outline: 0; line-height: 1rem; text-decoration: none; user-select:none; text-align: center;
        &.full{
            width: 100%;
        }
        &.bigger{
            line-height: 1.5rem; font-size: .6rem;
        }
        &.full.bigger{
            letter-spacing: .3rem;
        }
        &:active{
            opacity: .7;
        }
        @mixin-content;
    }
}

@mixin btn black,#fff,#333{
    &:active{
        opacity: 1;
    }
};

@mixin btn blue,#fff,#1D8EDB{};

@mixin btn white,#505050,#fafafa{
    border: 1px solid #e0e0e0;
};
